# Alpaca
ALPACA_API_KEY=your_api_key_here
ALPACA_API_SECRET=your_api_secret_here
ALPACA_WS_URL=wss://stream.data.alpaca.markets/v2/iex
ALPACA_DATA_URL=https://data.alpaca.markets

# Binance
BINANCE_API_KEY=your_binance_api_key_here
BINANCE_API_SECRET=your_binance_api_secret_here
BINANCE_WS_SYMBOLS=btcusdt,ethusdt,solusdt,xrpusdt,bnbusdt

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_NIFTY=stocks-ticks
KAFKA_TOPIC_CRYPTO=crypto-ticks

# AWS
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=ap-south-1
S3_BUCKET_NAME=stock-signal-raw

# Snowflake
SNOWFLAKE_ACCOUNT=your_account_here
SNOWFLAKE_USER=your_user_here
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_DATABASE=STOCK_SIGNALS
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_SCHEMA=RAW

# Airflow
AIRFLOW_UID=50000

# Grafana
GRAFANA_ADMIN_PASSWORD=changeme

# SSL (Mac fix)
SSL_CERT_FILE=
REQUESTS_CA_BUNDLE=